.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.center{
  float: none;
  margin: 0 auto;
}
footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.modall{
margin-left : 40%;
}
.card{
  width: 18rem;
}
.permission{
  margin-top: 20% ;
}
.btnpermission{
  margin-left : 47%;
}
.stickybtn {
  position: fixed;
    bottom: 10%;
    right: 50%;
}
/* side nav collapsed */
.sidenav {
 
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */

 
  overflow-x: hidden; /* Disable horizontal scroll */

}
.sidenav a {
  padding: 2px 5px 20px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 background-color: rgb(199, 199, 199);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.notePage {
  transition: margin-left .5s;
  padding: 20px;
  background-color: black;
}
.margin-{
  margin-top: -60px;
}
.far{
  cursor: pointer;
}

.far:hover{
  color : red
}
.todolist{
  transition: margin-left .5s;
  padding: 20px;
  background-color: black;
  margin-left: 5%;
}
.md-form textarea[type=text]:focus:not([readonly]) + label {
  color: rgb(255, 255, 255); }
  .md-form textarea[type=text]:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255); }
  
  .md-form input[type=text]:focus:not([readonly]) + label {
    color: rgb(255, 255, 255); }
    .md-form input[type=text]:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255); }
    
/* class for collapse */
.push{
  height: 87%; /* 100% Full-height */
  width: 250px; /* 250 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 78px; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.pushmain{
  margin-left: 250px;
  transition: 0.5s;
}
.vl {
  border-left: 3px solid rgb(8, 8, 8);
  height: 200px;
}
.edit:hover{
 color: rgb(214, 98, 98);
 cursor: pointer;
   }
.body{
  background-color:black;
}
.cursor{
  cursor: pointer;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 800px) {
 
  .modall{
    margin-left: 10%;
    width: 60%;
    height: 50%;
  }
  .todolist{
    transition: margin-left .5s;
    padding: 20px;
    background-color: black;
    margin-left: npm%;
  }
  
  ul{
    list-style: none
  }
  .pushmain{
    margin-left: 100px;
    transition: 0.5s;
  }
  .push{
    width: 100px;
    background-color: rgb(255, 255, 255);
  }
  .sidenav a {
    padding: 2px 2px 25px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .modall{
   margin-left: 20%;
   margin-top: 25%;
  }
  .w-25{
    width: 75%;
  }
  .cursor{
    cursor: pointer;
  }
  .text-mobile{
    font-size: 20px;
  }
}
