.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.modall{
  margin-left: 40%;
}
.card{
  width: 18rem;
}
.permission{
  margin-top: 20% ;
}
.btnpermission{
  margin-left : 47%;
}
.stickybtn {
  position: fixed;
    bottom: 10%;
    right: 50%;
}
